<h1>A view for all</h1>
<p>
  Idea: Create a single view that all HTML actions default to. (could be specified in a method on ActionController)
  This view can build sections dynamically (using partials - perhaps different types...).
  <br>
  Each partial gets an html url to call to build the form/grid etc html within the section.
  <br>
  That html could include a json call to get the data...
</p>
